<div class="container">
  <form class="mt-4" name="form-container" method="POST" action="/movies/submit-form-handles">
    <h3>LIST MOVIES</h3>
    <a href="/movies/trash">Trash ({{countDelete}})</a>
    
    <div class="mt-2 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="check-all-movies">
        <label class="form-check-label" for="check-all-movies">
          Check All
        </label>
     </div>
      <select class="form-control form-choose-handles" id="exampleFormControlSelect1" name="action" required>
          <option value="">---Choose handles---</option>
          <option value="delete">Delete</option>
      </select>
      <button class="btn btn-primary disabled btn-submit-form">Perform</button>
    </div>
    <table class="table mt-2">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" style="display: flex">
            ID
            {{{sort '_id' _sort}}}
          </th>
          <th scope="col">
            Name
            {{{sort 'name' _sort}}}
          </th>
          <th scope="col">
            Description 
          </th>
          <th scope="col">Handle</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each movies}}
        <tr>
          <td>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="filmId" value="{{this._id}}">
            </div>
          </td>
          <td >{{this._id}}</td>
          <td>{{this.name}}</td>
          <td>{{this.description}}</td>
          <td>
            <a href="/movies/{{this._id}}/edit">
                <button type="button" class="btn btn-primary">Update</button>
            </a>
          </td> 
          <td>
            <button type="button" class="btn btn-danger" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-movie">Delete</button>
          </td>
        </tr>
        {{else}}
        <tr>
            <td colspan="4" class="text-center">
                List Movies Empty.
                <a href="/movies/create">Add movie</a>
            </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </form>
</div>

{{!-- Cofirm delete modal --}}
<div id="delete-movie" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete movie?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You want to delete the movie?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger btn-delete-movie" type="button" >Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{!-- Form Delete --}}
<form name="form-delete-movie" method="POST"></form>

<script>
    //DOMContentLoaded: After the DOM finished loading do it
    document.addEventListener("DOMContentLoaded", function() {
        var idMovie;
        var btnDeleteMovie = document.querySelector('.btn-delete-movie');
        var formDeleteMovie = document.forms['form-delete-movie'];
        var btnCheckAll = $('#check-all-movies');
        var moviesCheckBox = $('input[name="filmId"]');
        var btnSubmitForm = $('.btn-submit-form');
        
        $('#delete-movie').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          idMovie = button.data('id') // Extract info from data-* attributes
        })

        btnDeleteMovie.onclick = function(){
            formDeleteMovie.action = '/movies/' + idMovie + '/delete/?_method=DELETE';
            formDeleteMovie.submit();
        }

        btnCheckAll.change(function() {
            var isCheckedAll = $(this).prop('checked');
            moviesCheckBox.prop('checked', isCheckedAll)
            renderBtnSubmitForm();
        })

        moviesCheckBox.change(function() {
            var isCheckedAll = moviesCheckBox.length === $('input[name="filmId"]:checked').length;
            btnCheckAll.prop('checked', isCheckedAll)
            renderBtnSubmitForm();
        })

       btnSubmitForm.click(function(e) {
          var isSubmitBtn = $(this).hasClass('disabled');
          if(isSubmitBtn){
            e.preventDefault();
          }
       })

      //Render Submit Form Button
       function renderBtnSubmitForm() {
          var isMoviesCheckBox = $('input[name="filmId"]:checked').length;
          if(isMoviesCheckBox > 0){
            btnSubmitForm.removeClass('disabled');
          }
          else{
            btnSubmitForm.addClass('disabled');
          }
       }
    })
</script>